        <script type="text/x-handlebars" data-template-name="application">
            <h2>Hello Ember.Router!</h2>
            <img src="../../Images/banner.png" width="400" heigth="200" border="1" /> 
            {{view App.NavbarView controllerBinding="controller.controllers.navbarController"}}
            <br />
            <hr />
            <div class="content">
                {{outlet}}
            </div>
        </script>

        <script type="text/x-handlebars" data-template-name="navbar">
            <div class="top-left-menu">
                <ul>
                    <li><a href="#" {{action gotoHome}}>Home</a></li>
                    <li><a href="#" {{action gotoContacts}}>Contacts</a></li>
                </ul>
            <div><br />
        </script>

        <script type="text/x-handlebars" data-template-name="contact-table">
            <div>
                <span class="sctn-title">Contacts</span>
            </div>
            <br />
            <br />
            <table id="contacts-table">
                <thead>
                    <tr>
                        <td colspan="3">
                            <div>
                                <div style="float:left;font-size: 9pt; vertical-align: bottom;">
                                    {{controller.contactsCount}} Record(s)
                                </div>
                                <div>
                                    <td colspan="3"><input type="button" {{action contactAdd}} value="New" /></td>
                                </div>
                                <br />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <th>Twitter</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <input type="button" {{action contactAdd}} value="New" />
                        <td>
                    </tr>
                </tfoot>
                <tbody>
                {{#if controller.isLoaded}} 
                    {{#if isEmptyCollection}}
                        You don't have any contacts :(
                    {{else}}
                        {{#each contact in controller}}
                            {{view App.ContactListItemView contactBinding="contact"}}
                        {{/each}}
                    {{/if}}
                {{else}}
                    <tr>
                        <td colspan="3">
                            <img src="http://img256.imageshack.us/img256/4407/ajaxloading1.gif" alt="" /> Loading...
                        <td>
                    </tr>
                {{/if}}
                </tbody>
            </table>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-table-row">
            <tr>
                <td style="vertical-align: top;">
                    <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.alias"}} width="50" height="50" /><br />{{contact.fullName}}
                </td>
                <td> 
                    Twitter: {{#if contact.twitter}}<a {{bindAttr href="contact.twitterLink"}} target='_blank'>Follow on Twitter</a>{{else}}-{{/if}}<br />
                </td>
                <td>
                    <input type="button" {{action contactDetails context="contact"}} value="Details"/> |
                    <input type="button" {{action contactEdit context="contact"}} value="Edit"/> |
                    <input type="button" {{action contactRemove context="contact"}} value="Remove" />
                </td>
            </tr>
        </script>

        <script type="text/x-handlebars" data-template-name="home">
            <h2>Welcome</h2>
            <br />
            <p>Bacon ipsum dolor sit amet qui ullamco exercitation, shankle beef sed bacon ground round kielbasa in. Prosciutto pig bresaola, qui meatloaf ea tongue non dolore et pork belly andouille ribeye spare ribs enim. Enim exercitation elit, brisket nisi ex swine in jerky consequat pastrami dolore sed ad. In drumstick cow, salami swine fatback short ribs ham ut in shankle consequat corned beef id. Deserunt prosciutto beef speck. Sirloin incididunt kielbasa excepteur irure.</p>

            <p>Do beef ribs dolore swine chicken shankle, venison officia qui magna ea anim. Jerky shank shankle, tongue in pork loin commodo boudin elit cupidatat turducken id capicola meatball. Strip steak ham hock tenderloin, id chicken drumstick sint jerky. Dolore veniam cillum minim, pariatur est beef. Sunt fatback tri-tip ex chuck.</p>

            <p>Bacon ipsum dolor sit amet qui ullamco exercitation, shankle beef sed bacon ground round kielbasa in. Prosciutto pig bresaola, qui meatloaf ea tongue non dolore et pork belly andouille ribeye spare ribs enim. Enim exercitation elit, brisket nisi ex swine in jerky consequat pastrami dolore sed ad. In drumstick cow, salami swine fatback short ribs ham ut in shankle consequat corned beef id. Deserunt prosciutto beef speck. Sirloin incididunt kielbasa excepteur irure.</p>

            <p>Do beef ribs dolore swine chicken shankle, venison officia qui magna ea anim. Jerky shank shankle, tongue in pork loin commodo boudin elit cupidatat turducken id capicola meatball. Strip steak ham hock tenderloin, id chicken drumstick sint jerky. Dolore veniam cillum minim, pariatur est beef. Sunt fatback tri-tip ex chuck.</p>
            <br />
            <br />
            <strong>Note</strong>: This is a basic template with no <i>bindings</i>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-details">
            {{#if controller.isLoaded}} 
            <fieldset>
                <legend>Contact Details</legend>
                <div style="position: relative">
                    <div style="float: left">
                        <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.fullName"}} width="210" height="240" />
                        <br /><br />
                        <input type="button" {{action gotoContacts}} value="Back" /> 
                    </div>
                    <div style="float: left">
                        <table id="contacts-table" style="height: 280px">
                            <tr>
                                <td>First Name: </td>
                                <td>{{contact.firstName}}</td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td>{{contact.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Alias: </td>
                                <td>{{contact.alias}}</td>
                            </tr>
                            <tr>
                                <td><img src="../../Images/orderedList0.png" /> Website: </td>
                                <td>{{#if contact.website}}<a {{bindAttr href="contact.website"}} target="_blank">{{contact.alias}}'s Website</a>{{else}} - {{/if}}</td>
                            </tr>
                            <tr>
                                <td><img src="../../Images/facebook.png" /> Facebook: </td>
                                <td>{{#if contact.facebook}}<a {{bindAttr href="contact.facebook"}} target="_blank">{{contact.alias}}'s Facebook Profile</a>{{else}} - {{/if}}</td>
                            </tr>
                            <tr>
                                <td><img src="../../Images/twitter.png" /> Twitter: </td>
                                <td>{{#if contact.twitter}}<a {{bindAttr href="contact.twitterLink"}} target="_blank">Follow {{contact.alias}} on Twitter</a>{{else}} - {{/if}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
            {{else}}
                <img src="http://img256.imageshack.us/img256/4407/ajaxloading1.gif" alt="" /> Loading...
            {{/if}}
        </script>

        <script type="text/x-handlebars" data-template-name="contact-edit">
            <fieldset>
                <legend>Edit Contact</legend>
                <div style="position: relative">
                    <div style="float: left">
                        <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.fullName"}} width="210" height="240" />
                        <br /><br />
                        <input type="button" {{action gotoContacts}} value="Back" /> 
                        <input type="button" {{action submitUpdateContact on="click" context="contact"}} value="Update" /> 
                        <input type="button" {{action submitRemoveContact on="click" context="contact"}} value="Delete" />
                    </div>
                    <div style="float: left">
                        <table id="contacts-table">
                            <tr>
                                <td>Image Url: </td>
                                <td>{{view Ember.TextField valueBinding="contact.imageUrl" placeHolder="Image Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>First Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.firstName" placeHolder="First name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.lastName" placeHolder="Last name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Alias: </td>
                                <td>{{view Ember.TextField valueBinding="contact.alias" placeHolder="E=Mail goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Website: </td>
                                <td>{{view Ember.TextField valueBinding="contact.website" placeHolder="Website Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Facebook: </td>
                                <td>{{view Ember.TextField valueBinding="contact.facebook" placeHolder="Facebook Link goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Twitter: </td>
                                <td>{{view Ember.TextField valueBinding="contact.twitter" placeHolder="Twitter ID goes here"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-add">
            <fieldset>
                <legend>Add Contact</legend>
                <div style="position: relative">
                    <div style="float: left">
                        <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.fullName"}} width="210" height="240" />
                        <br /><br />
                        <input type="button" onclick="history.go(-1);" value="Cancel" /> 
                        <input type="button" {{action submitAddContact on="click" context="contact"}} value="Save" /> 
                    </div>
                    <div style="float: left">
                        <table id="contacts-table">
                            <tr>
                                <td>Image Url: </td>
                                <td>{{view Ember.TextField valueBinding="contact.imageUrl" placeHolder="Image Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>First Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.firstName" placeHolder="First name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.lastName" placeHolder="Last name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Alias: </td>
                                <td>{{view Ember.TextField valueBinding="contact.alias" placeHolder="E=Mail goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Website: </td>
                                <td>{{view Ember.TextField valueBinding="contact.website" placeHolder="Website Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Facebook: </td>
                                <td>{{view Ember.TextField valueBinding="contact.facebook" placeHolder="Facebook Link goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Twitter: </td>
                                <td>{{view Ember.TextField valueBinding="contact.twitter" placeHolder="Twitter ID goes here"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </script>

