        <script type="text/x-handlebars" data-template-name="application">
            <h1>Hello Ember.Router!</h1>
            <h4>Sample app for learning purposes</h4>
            <img src="../../Images/banner.png" width="400" heigth="200" border="1" /> 
            {{view App.NavbarView controllerBinding="controller.controllers.navbarController"}}
            <br /><hr />
            <div class="content">
                {{outlet}}
            </div>
        </script>

        <script type="text/x-handlebars" data-template-name="navbar">
            <ul>
                <li><a href="#" {{action gotoHome}}>Home</a></li>
                <li><a href="#" {{action gotoContacts}}>Contacts</a></li>
            </ul><br />
        </script>

        <script type="text/x-handlebars" data-template-name="contact-table">
            <table>
                <thead>
                    <tr>
                        <th>Contact({{controller.contactsCount}})</th>
                        <th>Info</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <a href="#" {{action contactAdd}}>New</a>
                        <td>
                    </tr>
                </tfoot>
                <tbody>
                {{#if controller.isLoaded}} 
                    {{#each contact in controller}}
                        {{view App.ContactListItemView contactBinding="contact"}}
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="3">
                            <img src="http://img256.imageshack.us/img256/4407/ajaxloading1.gif" alt="" /> Loading...
                        <td>
                    </tr>
                {{/if}}
                </tbody>
            </table>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-table-row">
            <tr>
                <td>
                    <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.alias"}} width="50" height="50" /><br />{{contact.fullName}}
                </td>
                <td> 
                    Twitter: {{#if contact.twitter}}<a {{bindAttr href="contact.twitter"}} target='_blank'>Follow on Twitter</a>{{else}}-{{/if}}<br />
                </td>
                <td>
                    <a href="#" {{action contactDetails context="contact"}}>Details</a> | 
                    <a href="#" {{action contactEdit context="contact"}}>Edit</a> | 
                    <a href="#" {{action contactRemove context="contact"}}>Delete</a>
                </td>
            </tr>
        </script>

        <script type="text/x-handlebars" data-template-name="home">
            <h2>Welcome</h2>
            <br />
            <p>Bacon ipsum dolor sit amet qui ullamco exercitation, shankle beef sed bacon ground round kielbasa in. Prosciutto pig bresaola, qui meatloaf ea tongue non dolore et pork belly andouille ribeye spare ribs enim. Enim exercitation elit, brisket nisi ex swine in jerky consequat pastrami dolore sed ad. In drumstick cow, salami swine fatback short ribs ham ut in shankle consequat corned beef id. Deserunt prosciutto beef speck. Sirloin incididunt kielbasa excepteur irure.</p>

            <p>Do beef ribs dolore swine chicken shankle, venison officia qui magna ea anim. Jerky shank shankle, tongue in pork loin commodo boudin elit cupidatat turducken id capicola meatball. Strip steak ham hock tenderloin, id chicken drumstick sint jerky. Dolore veniam cillum minim, pariatur est beef. Sunt fatback tri-tip ex chuck.</p>

            <p>Bacon ipsum dolor sit amet qui ullamco exercitation, shankle beef sed bacon ground round kielbasa in. Prosciutto pig bresaola, qui meatloaf ea tongue non dolore et pork belly andouille ribeye spare ribs enim. Enim exercitation elit, brisket nisi ex swine in jerky consequat pastrami dolore sed ad. In drumstick cow, salami swine fatback short ribs ham ut in shankle consequat corned beef id. Deserunt prosciutto beef speck. Sirloin incididunt kielbasa excepteur irure.</p>

            <p>Do beef ribs dolore swine chicken shankle, venison officia qui magna ea anim. Jerky shank shankle, tongue in pork loin commodo boudin elit cupidatat turducken id capicola meatball. Strip steak ham hock tenderloin, id chicken drumstick sint jerky. Dolore veniam cillum minim, pariatur est beef. Sunt fatback tri-tip ex chuck.</p>
            <br />
            <br />
            <strong>Note</strong>: This is a basic template with no <i>bindings</i>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-details">
            {{#if controller.isLoaded}} 
                 <fieldset>
                <legend>Edit Contact</legend>
                <div style="position: relative">
                    <div style="float: left">
                        <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.fullName"}} width="210" height="240" />
                    </div>
                    <div style="float: left">
                        <table>
                            <tr>
                                <td>First Name: </td>
                                <td>{{contact.firstName}}</td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td>{{contact.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Alias: </td>
                                <td>{{contact.alias}}</td>
                            </tr>
                            <tr>
                                <td>Website: </td>
                                <td>{{contact.website}}</td>
                            </tr>
                            <tr>
                                <td>Facebook: </td>
                                <td>{{contact.facebook}}</td>
                            </tr>
                            <tr>
                                <td>Twitter: </td>
                                <td>{{contact.twitter}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
            {{else}}
                <img src="http://img256.imageshack.us/img256/4407/ajaxloading1.gif" alt="" /> Loading...
            {{/if}}
        </script>

        <script type="text/x-handlebars" data-template-name="contact-edit">
            <fieldset>
                <legend>Edit Contact</legend>
                <div style="position: relative">
                    <div style="float: left">
                        <img {{bindAttr src="contact.imageUrl" alt="contact.fullName" title="contact.fullName"}} width="210" height="240" />
                    </div>
                    <div style="float: left">
                        <table>
                            <tr>
                                <td>Image Url: </td>
                                <td>{{view Ember.TextField valueBinding="contact.imageUrl" placeHolder="Image Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>First Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.firstName" placeHolder="First name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Last Name: </td>
                                <td>{{view Ember.TextField valueBinding="contact.lastName" placeHolder="Last name goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Alias: </td>
                                <td>{{view Ember.TextField valueBinding="contact.alias" placeHolder="E=Mail goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Website: </td>
                                <td>{{view Ember.TextField valueBinding="contact.website" placeHolder="Website Url goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Facebook: </td>
                                <td>{{view Ember.TextField valueBinding="contact.facebook" placeHolder="Facebook Link goes here"}}</td>
                            </tr>
                            <tr>
                                <td>Twitter: </td>
                                <td>{{view Ember.TextField valueBinding="contact.twitter" placeHolder="Twitter ID goes here"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </script>

        <script type="text/x-handlebars" data-template-name="contact-add">
            add contact
        </script>

